/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

.app-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

:root{
    --primary-color: #575757;
    --secondary-color: #282828;
    --third-color: #aaa;
    --fourth-color: white;
    --accent-color: #3aa292;
    --passive-color: #3d5c5e;
    --background-color: #3f3f3f;
    --tag-color: #f7cf63;
}
