<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <p>autor:<br>&nbsp;&nbsp;&nbsp;&nbsp;{{authorOfQuestion.name}}
        {{authorOfQuestion.lastName}}<br>&nbsp;&nbsp;&nbsp;&nbsp;({{this.authorOfQuestion.email}})</p>
      <hr>
      <p>postavljeno:<br>&nbsp;&nbsp;&nbsp;&nbsp;{{question.postedOn | date:'dd/MM/yyyy u HH:mm'}}</p>
      <hr>
      <p>broj komentara:<br>&nbsp;&nbsp;&nbsp;&nbsp;{{getNumOfComments()}}</p>
      <hr><br><br>
      <div class="vote-wrapper">
        <button mat-fab class="up-down-vote up-vote" (click)="voteQuestion('upvote')"><mat-icon>thumb_up</mat-icon></button>
        <p class="vote-count">{{question.numOfVotes}}</p>
        <button mat-fab class="up-down-vote down-vote" (click)="voteQuestion('downvote')"><mat-icon>thumb_down</mat-icon></button>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="question-wrapper">
        <div class="row">
          <h1>{{question.title}}</h1>
        </div>
        <div class="row description">
          <p>{{question.description}}</p>
        </div>
        <div class="row tag-wrapper">
          <div class="tag-container">
            <mat-chip *ngFor="let tag of question.tags" class="tag">{{tag}}</mat-chip>
          </div>
        </div>
        <hr>
        <div class="row add-comment-section">
          <p class="your-comment">Komentarisi:</p>
          <textarea class="comment-textarea" placeholder="Resenje za ovaj bug.." rows="5" [(ngModel)]="newCommentText"></textarea>
          <button mat-raised-button class="submit-comment-button" (click)="addNewComment(undefined)">Posalji odgovor</button>
        </div>
        <div class="comment-section-wrapper">
          <p class="all-comments">Komentari:</p>
          <div class="comment-section">
            <div *ngFor="let comment of comments">
              <div *ngIf="comment.commentThreadId == null" class="row comment">
                <div class="row h-100%">
                  <div class="col-sm-2">
                    <div class="comment-vote-wrapper">
                      <button mat-fab class="comment-up-down-vote up-vote" (click)="voteComment(comment, 'upvote')"><mat-icon>thumb_up</mat-icon></button>
                      <p class="vote-count">{{comment.numOfVotes}}</p>
                      <button mat-fab class="comment-up-down-vote down-vote" (click)="voteComment(comment, 'downvote')"><mat-icon>thumb_down</mat-icon></button>
                    </div>
                  </div>
                  <div class="col-sm-10 h-100% comment-info">
                    <div class="comment-header">
                        <p class="user-commented">{{comment.userNameEmail}}</p>
                        <p class="comment-posted">{{comment.postedOn | date:'dd/MM/yyyy u HH:mm'}}</p>
                    </div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{comment.description}}</p>

                    <div class="row">
                      <div class="comment-footer">
                        <div class="subcomments-num">
                          <p><mat-icon>
                              mode_comment</mat-icon>&nbsp;&nbsp;{{comment.numOfCommentsInThread}}</p>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="subcomments">
                  <div *ngIf="comment.numOfCommentsInThread != undefined && comment.numOfCommentsInThread > 0">
                    <div class="vertical-line"></div>
                    <div *ngFor="let subcomment of comments">
                      <div *ngIf="subcomment.commentThreadId == comment.id" class="subcomment-info">
                        <div class="comment-header">
                          <p class="user-subcommented">{{subcomment.userNameEmail}}</p>
                          <p class="subcomment-posted">{{subcomment.postedOn | date:'dd/MM/yyyy u HH:mm'}}</p>
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{subcomment.description}}</p>
                        <hr>
                      </div>
                    </div>
                  </div>
                  <div class="add-subcomment">
                    <div class="textarea-container">
                      <mat-icon class="textarea-icon">add_comment</mat-icon>
                      <textarea class="subcomment-textarea" placeholder="Dodaj komentar..." rows="1" [(ngModel)]="comment.newSubcommentText"></textarea>
                      <button class="submit-button" type="button" (click)="addNewComment(comment)">Posalji</button>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>