.navbar {
    background-color: #282828;
    color: white;
    width: 100vw;
}

.toolbar-row {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.title {
    position: absolute;
    left: 20px;
    cursor:pointer;
}

.search-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
}

.search-bar {
    width: 100%;
    padding: 10px 60px;
    font-size: 16px;
    border: 2px solid #555;
    border-radius: 25px;
    background-color: #404040;
    color: white;
    transition: border 0.3s, background-color 0.3s;
}

.search-bar::placeholder {
    color: #aaa;
}

.search-bar:focus {
    outline: none;
    border-color: #777;
    background-color: #333;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 51%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 22px;
}

.add-button {
    margin-left: 10px;
    background-color: #3aa292 !important;
    border-radius: 8px !important;
    width: 40px !important;
    height: 40px !important;
    align-content: center;
    color: white !important;
}

.expand-button{
    border-radius: 8px !important;
    width: 40px !important;
    height: 40px !important;
    background-color: #282828;
    color: white !important;
    box-shadow: none !important;
}

.button-group {
    display: flex;
    align-items: center;
    margin-left: auto
}
